<div class="wrapper">
  <nav class="toolbar">
    <div class="logo">StoreCone</div>
    <button class="hamburger" (click)="isCollapsed = !isCollapsed">
      <img src="https://i.ibb.co/W3p266z/menu.png" height="25">
    </button>
    <ul class="menu" [class.collapsed]="isCollapsed">
      <li><a routerLink="/listaP" routerLinkActive="active">Productos</a></li>
      <li><a routerLink="/registrarp">Registrar productos</a></li>
      <li><a routerLink="/listaMer" routerLinkActive="active">Mermas</a></li>
      <li><a routerLink="/registrarMer">Registrar mermas</a></li>
      <li><a routerLink="/listProveedor" routerLinkActive="active">Proveedores</a></li>
      <li><a routerLink="/registrarprov">Registrar  proveedores</a></li>
      <li><a routerLink="/analisis" routerLinkActive="active">Análisis</a></li>
      <li><a routerLink="/registrar-mermas" routerLinkActive="active">Cerrar sesión</a></li>
    </ul>
  </nav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
