body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .small-form {
    max-width: 600px;
    margin: 0 auto;
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="date"],
  textarea,
  button,
  input[type="file"] {
    width: calc(50% - 10px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  .container {
    align-items: center;
    padding-left: 300px;
  }
  
  #seccion {
    appearance: none;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    background-color: #fff;
    background-image: linear-gradient(to bottom, #f9f9f9, #e9e9e9);
    cursor: pointer;
  }
  
  #seccion option {
    padding: 10px;
  }
  
  #seccion:focus {
    outline: none;
    border-color: #007bff;
  }
  
  #seccion option:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  .container{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  