/* estilos.css */
body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #6dd5ed, #2193b0);
  color: #fff;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px; /* Ajusta el tamaño del cuadro */
  margin: auto;
}

.form-control, .btn-primary {
  border-radius: 20px;
}

.btn-primary {
  background-color: #2193b0;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s, transform 0.3s;
  display: block; /* Hace que el botón sea un bloque para centrarlo */
  margin: 20px auto; /* Centra el botón */
}

.btn-primary:hover {
  background-color: #6dd5ed;
  transform: translateY(-3px);
}

label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #333;
}

.form-group {
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
}

/* Animaciones para los campos de entrada */
.form-control {
  transition: box-shadow 0.3s, border-color 0.3s;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.25);
  border-color: #2193b0;
}

.fixed-header {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 10;
  background-color: #fff; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
body > div.card {
  margin-top: 80px; /* Ajusta este valor según tus necesidades */
}
