<div class="vertical-center">
  <div class="form-container">
    <h2>Iniciar sesión</h2>
    <form (submit)="iniciarSesion(username.value, password.value)">
      <div class="form-group">
        <label for="username">Usuario:</label>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Ingrese su usuario"
          #username
        />
      </div>
      <div class="form-group">
        <label for="password">Contraseña:</label>
        <div class="password-input">
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Ingrese su contraseña"
            #password
          />
          <img
            src="https://i.ibb.co/mGZTP1K/ojo.png"
            alt="Mostrar contraseña"
            class="show-password-icon"
            id="showPasswordIcon"
            (click)="togglePasswordVisibility()"
          />
        </div>
      </div>
      <button type="submit">Iniciar sesión</button>
      <p>No tienes usuario?</p>
      <a routerLink="/registraruser" routerLinkActive="active">Registar user</a>
    </form>
  </div>
</div>
