<app-herramientas class="fixed-header"></app-herramientas>
<body class="d-flex align-items-center vh-100">
    <div class="container">
        <form action="#" method="post" enctype="multipart/form-data" class="small-form" (submit)="crearMerma()">
            <h1 class="text-center mb-4 display-4">Registrar Mermas</h1>
            <div class="form-group mb-4">
                <label for="nombre" class="form-label"> <strong>Nombre de producto:</strong>   </label>
                <select id="nombre" name="nombre" required [(ngModel)]="nuevaMerma.nombre_producto" (change)="onProductoSeleccionado()" class="form-control form-control-lg">
                    <option *ngFor="let producto of productos" [value]="producto.nombre">{{ producto.nombre }}</option>
                </select>
            </div>
            <div class="form-group mb-4">
                <label for="codigo" class="form-label"><strong>Codigo</strong></label>
                <input type="number" id="codigo" name="codigo" required [(ngModel)]="nuevaMerma.codigo" class="form-control form-control-lg" readonly>
            </div>
            <div class="form-group mb-4">
                <label for="seccion" class="form-label"> <strong>Tipo de merma:</strong> </label>
                <select id="seccion" name="seccion" required [(ngModel)]="nuevaMerma.tipo_de_merma" class="form-select form-select-lg">
                    <optgroup label="Seleccionar tipo">
                        <option value="Robo">Robo</option>
                        <option value="Caducidad">Caducidad</option>
                        <option value="Defectuoso">Defectuoso</option>
                    </optgroup>
                </select>
            </div>
            
            <button type="submit" class="btn btn-primary btn-lg w-100">Registrar Merma</button>
        </form>
    </div>
</body>
