body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #007bff, #6610f2);
}

.container {
  max-width: 960px;
  padding: 20px;
}

.small-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

button {
  display: block;
  margin: 0 auto;
  transition: transform 0.3s ease-in-out, background-color 0.3s;
}

button:hover {
  transform: scale(1.05);
  background-color: #28a745;
}
.fixed-header {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 10;
  background-color: #fff; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
