
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CANTIDAD | MERMAS</title>
</head>
<app-herramientas></app-herramientas>
<body>
    <div *ngIf="conteoMermas.length > 0; else loading">
        <ngx-charts-bar-vertical
  [view]="view"
  [scheme]="colorScheme"
  [results]="conteoMermas"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxis"
  [showYAxisLabel]="showYAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel">
</ngx-charts-bar-vertical>

      
      

      </div>
      
      <ng-template #loading>
        <p>Cargando datos...</p>
      </ng-template>
      
</body>
